@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
#resolution {
  position: fixed;
  height: 40px;
  background-color: yellow;
  top: 0p;
  left: 0;
  width: 100%;
  content: "XS < 576";
  text-align: center;
  opacity: 0.5;
  color: black;
}

#resolution:after {
  content: "XS < 576";
}

@media (min-width: 576px) {
  #resolution {
    background-color: orange;
  }
}
@media (min-width: 768px) {
  #resolution {
    background-color: purple;
  }

  #resolution:after {
    content: "MD > 768 < 992";
  }
}
@media (min-width: 992px) {
  #resolution {
    background-color: green;
  }

  #resolution:after {
    content: "LG > 992 < 1200";
  }
}
@media (min-width: 1200px) {
  #resolution {
    background-color: blue;
  }

  #resolution:after {
    content: "XL > 1200 < 1400";
  }
}
@media (min-width: 1400px) {
  #resolution {
    background-color: pink;
  }

  #resolution:after {
    content: "XXL > 1400 < 1080";
  }
}
:root {
  --bleunoir: #0D1B23;
  --bleu: #0D1B23;
  --mauve: #0D1B23;
}

body {
  background-color: #0D1B23;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  font-family: "Lobster", cursive;
}

h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

span {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: auto;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-left: 75px;
}

#formulaire {
  color: white;
  margin-left: 45px;
  margin-top: 45px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#ville {
  margin-left: 45px;
  border-radius: 8px;
  border: #0D1B23 1px solid;
  padding: 10px;
}

#go {
  background-color: #23195a;
  color: white !important;
  padding: 12px;
  width: 105px;
  color: var(--bleunoir);
  border: none;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#contenu div {
  background-color: #1B2B38;
  height: 300px;
  width: 31, 33%;
  margin: 45px;
  border-radius: 8px;
  padding: 25px;
  height: fit-content;
}

img {
  width: 75px;
  height: 75px;
  margin-left: 75px;
  margin-top: 45px;
  margin-bottom: 45px;
}

#contenu div div.info {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 35px;
  padding: 15px;
  background-color: #293355;
}

#contenu div div.info p {
  margin: 15px;
}