:root {
  --bleunoir: #0D1B23;
  --bleu: #0D1B23;
  --mauve: #0D1B23;
  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
  background-color: #0D1B23;
}

  p{
    color: white;
    font-family: 'Roboto', sans-serif;

  }

  h1{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 35px;
  }

  h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }

  h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: regular;
  }

  // .inserer{
  //   margin-bottom: 45px;
  // }
  #formulaire{
    color: white;
    margin-left: 45px;
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
  }

  #ville{
    margin-left: 45px;
    border-radius: 8px;
    border: #0D1B23 1px solid;
    padding: 6px;
    width: 32%;
  }

  #go{
    background-color: #293355;
    color: white !important;
    padding: 8px;
    width: 60px;
    color: var(--bleunoir);
    border: none;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  #contenu h3#center{
    text-align: center;
  }
  #contenu div#capital{
    background-color: var(--bleunoir);
    margin-bottom: -17%;
    padding-left: 0;
    margin-top: 10px;
  }

  #contenu div span.temperature{
    font-weight: regular;
    margin-left: 0%;
    font-size: 20px;
  }

  #contenu div p.tempmax{
    font-weight: regular;
    margin-left: 0%;
    font-size: 20px;
    font-weight: bold;
  }



  #capital {
    color: white!important;
    padding: 45px;
    

  }

  span{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: auto;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin-left: 87px;
  }


  

  #contenu div{
    background-color: #1B2B38;
    height: 300px;
    width: 31,33%;
    margin: 45px;
    border-radius: 8px;
    padding: 25px;
    height: fit-content;
  }

  img{
    width: 75px;
    height: 75px;
    margin-left: 75px;
    margin-top: 45px;
    margin-bottom: 45px;
  }

  #contenu div div.info{
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    margin-top: 35px;
    padding: 15px;
    background-color: #293355;
}

#contenu div div.info p{
  margin: 15px;
}

#contenu div .col-xs-4{
margin: 0%;
padding: 0%;
}