:root {
  --bleunoir: #0D1B23;
  --bleu: #0D1B23;
  --mauve: #0D1B23;
  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body{
  background-color: #0D1B23;
}

  p{
    color: white;
    font-family: 'Roboto', sans-serif;

  }

  h1{
    color: white;
    font-family: 'Lobster', cursive;
  }

  h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }

  h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  span{
    font-family: 'Roboto', sans-serif;
    color: white;
  }


  #formulaire{
    color: white;
    margin-left: 45px;
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  #ville{
    margin-left: 45px;
    border-radius: 8px;
    border: #0D1B23 1px solid;
    padding: 15px;
  }

  #go{
    background-color: rgb(35, 25, 90);
    color: white!important;
    padding: 16px;
    width: 105px;
    color: var(--bleunoir);
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  #contenu div{
    background-color: #1B2B38;
    height: 300px;
    width: 31,33%;
    margin: 45px;
    border-radius: 8px;
    padding: 45px;
    height: fit-content;
  }

  img{
    width: 75px;
    height: 75px;
    margin: 45px;
  }
  